@charset "UTF-8";

a {
	text-decoration: none;
}

.bucketTitle {
	margin-top: 15px;
	margin-left: 16.5px;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	color: #2A221D;
}

.bucketTextBox {
	width: 100%;
}

.bucketRegDate {
	margin-top: 15px;
	margin-left: 16.5px;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 0.06em;
	color: #9D9690;
	margin-bottom: 20px;
}

.testz {
	margin-left: 3%;
	width: 85%;
	height: 140px;
	margin-top: 50px;
	margin-bottom: 50px;
	white-space: nowrap;
	overflow-x: auto;
	vertical-align: middle;
	text-align: right;
}

.testbox {
	display: inline-block;
	position: relative;
	top: 32px;
}

.selectedTestbox {
	top: 7px !important;
}

.testspan {
	margin-left: 3px;
	margin-right: 3px;
	border: solid 3px;
	border-top: solid 3px;
	border-image: url( "../../image/itdaColor2.png" ) 100 30 50 repeat;
	background-position: center;
	padding: 5px;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 0.05em;
	color: #513828;
}

.bordermy {
	border-left: solid 3px;
	border-right: solid 3px;
	border-image: url( "../../image/itdaColor2.png" ) 100 30 50 repeat;
	padding: 5px;
	margin-left: 3px;
	margin-right: 3px;
}

#sticker0 {
	background-image: url("../../image/bucket/yellow.png");
}

#sticker1 {
	background-image: url("../../image/bucket/lightgreen.png");
}

#sticker2 {
	background-image: url("../../image/bucket/orange.png");
}

#sticker3 {
	background-image: url("../../image/bucket/blue.png");
}

#sticker4 {
	background-image: url("../../image/bucket/dust.png");
}

.imgBack {
	position: absolute;
	top: 162.5px;
	left: -1.5px;
}

.ourBucketText {
	position: absolute;
	left: 120px;
	top: 65px;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 0.06em;
	color: #9D9690;
}

.listLayout {
	position: absolute;
	top: 177.5px;
	left: 11px;
	width: 97%;
	min-height: 665px;
	background-image: url("../../image/bucket/bucketBackground2-1.png");
	border-top: solid 6px;
	border-image: url( "../../image/bucket/buckeyViewBorderColor.png" ) 1 10
		10 repeat;
}

.listContainer {
	position: reletive;
	margin-top: 40px;
	margin-left: 70px;
	margin-right: 30px;
}

.bucketTitleSpan {
	position: absolute;
	top: 5px;
	left: 30px;
	width: 250px;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	color: #2A221D;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.noBucketText {
	position: absolute;
	left: 40%;
	top: 40%;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	color: rgba(157, 150, 144, 1);
}

.greenChk {
	position: absolute;
	left: -15px;
	top: -60px;
}

.successStamp {
	position: absolute;
	left: 70px;
	top: -155px;
}

.finishDateText {
	position: absolute;
	left: 85px;
	top: -98px;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #1D9871;
	transform: rotate(-7.76deg);
}

.noBucketImg {
	position: absolute;
	left: 33%;
	top: 33%;
}