@charset "UTF-8";

.inboxText {
	position: absolute;
	width: 162px;
	height: 39px;
	left: 30px;
	top: 99px;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 25px;
	display: flex;
	align-items: center;
	color: #2A221D;
}

.whisperInboxListToggle {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 320px;
	top: 103px;
}

.whisperContainer{
	position: relative;
	top: 120px;
	
}

.whisperBox{
	position: relative;
	
}

.dateBox{
	position: relative;
	margin-bottom: 25px;
	display: inline-block;
}

.dateLine1 {
	position: absolute;
	width: 137px;
	left: 15px;
	top: 0;
	border: 1px solid #BBB3AB;
}

.dateLine2 {
	position: absolute;
	width: 137px;
	left: 238px;
	top: 0;
	border: 1px solid #BBB3AB;
}

.inboxListDate {
	position: absolute;
	left: 164px;
	top: -7px;
	font-family: 'Bookk Myungjo';
	font-size: 13px;
	color: #9D9690;
}

.inboxList{
	position: relative;
	font-family: 'Bookk Myungjo';
	margin-bottom: 25px;
	
}

.cardFrame {
	width: 307px;
	height: 139px;
	margin-left: 43px;
}

.toPersonText {
	position: absolute;
	left: 63px;
	top: 1em;
	font-size: 12px;
	color: #2A221D;
}

.toPersonName {
	position: absolute;
	left: 63px;
	top: 2.3em;
	font-family: 'Bookk Myungjo';
	font-size: 15px;
	color: #2A221D;
}

.toPersonLine {
	position: absolute;
	width: 112px;
	left: 63px;
	top: 4em;
	border: 1px solid #BBB3AB;
}

.sendDateText {
	position: absolute;
	left: 243px;
	top: 1em;
	font-size: 11px;
	letter-spacing: 0.05em;
	color: #9D9690;
}

.sendDate {
	position: absolute;
	left: 283px;
	top: 1em;
	font-size: 11px;
	color: #9D9690;
}

.inboxCardStamp {
	position: absolute;
	width: 63px;
	height: 4em;
	left: 271px;
	top: 2em;
}

.fromPersonText {
	position: absolute;
	left: 219px;
	top: 6em;
	font-size: 12px;
	color: #2A221D;
}

.fromPersonName {
	position: absolute;
	left: 219px;
	top: 6em;
	font-size: 15px;
	color: #2A221D;
}

.fromPersonLine {
	position: absolute;
	width: 112px;
	height: 0em;
	left: 219px;
	top: 8em;
	border: 1px solid #BBB3AB;
}

.dummy{
	background-image: url("../../image/itdaBackImg.png"); 
	height:200px;
}

