@charset "UTF-8";

.whisperDetailFrame{
	position: absolute;
width: 312.38px;
height: 398px;
left: 41px;
top: 263px;
	
}

.whisperDetailContents{
	position: absolute;
width: 249px;
height: 123px;
left: 71px;
top: 278px;

font-family: 'Bookk Myungjo';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.06em;

color: #2A221D;
}

.detailDate{
	position: absolute;
height: 33px;
left: 210px;
top: 585px;

font-family: 'Bookk Myungjo';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 15px;
display: flex;
align-items: center;
text-align: right;

color: #2A221D;
}

.detailFromPersonName{
	position: absolute;
height: 33px;
left: 210px;
top: 610px;

font-family: 'Bookk Myungjo';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 15px;
display: flex;
align-items: center;
text-align: right;

color: #2A221D;
}

.detailEllipsis{
	position: absolute;
width: 23px;
height: 23px;
left: 341px;
top: 72px;
	
}

.detailDeleteBox{
position: absolute;
width: 393px;
height: 73px;
left: 0px;
top: 778px;
text-align: center;
justify-content: center;
display: flex;
background-color: white;
}

.detailDeleteText{

font-family: 'Bookk Myungjo';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 20px;
display: flex;
align-items: center;

color: #E16646;
}