@charset "UTF-8";

.whisperDetailFrame{
	position: absolute;
width: 312.38px;
height: 398px;
left: 41px;
top: 263px;
	
}

.whisperDetailContents{
	position: absolute;
width: 249px;
height: 123px;
left: 71px;
top: 278px;

font-family: 'Bookk Myungjo';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
display: flex;
align-items: center;
letter-spacing: 0.06em;

color: #2A221D;
}

.detailDate{
	position: absolute;
height: 33px;
left: 210px;
top: 585px;

font-family: 'Bookk Myungjo';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 15px;
display: flex;
align-items: center;
text-align: right;

color: #2A221D;
}

.detailFromPersonName{
	position: absolute;
height: 33px;
left: 210px;
top: 610px;

font-family: 'Bookk Myungjo';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 15px;
display: flex;
align-items: center;
text-align: right;

color: #2A221D;
}

.detailEllipsis{
	position: absolute;
width: 23px;
height: 23px;
left: 341px;
top: 72px;
	
}


.detailDeleteBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 73px;
  background-color: white;
}

.detailDeleteText {
  font-family: 'Bookk Myungjo';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #E16646;
}

.detailDeleteBox {
	position: fixed; /* 화면을 기준으로 위치 지정 */
	left: 0; /* 왼쪽 정렬 */
	bottom: 0px; /* 처음에는 아래에 위치시켜놓음 */
	width: 100%; /* 가로폭 100% */
	text-align: center; /* 가운데 정렬 */
	transform: translateY(100%); /* 처음에는 아래로 숨겨놓음 */
	transition: transform 0.3s, bottom 0.3s; /* transform, bottom 속성이 변할 때 애니메이션 효과 적용 */
}

.detailDeleteBox.active {
	transform: translateY(0%); /* active 클래스가 추가되면 위로 이동시킴 */
	bottom: 0; /* bottom 속성 값 변경 */
}