@charset "UTF-8";

.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-2{
	position: fixed; 
	top:416px; 
	left:107px;
}
.sticker02-3{
	position: fixed; 
	top:392px; 
	left:252px;
}
.sticker02-4{
	position: fixed; 
	top:646px; 
	left:238px;
}
.sticker02-5{
	position: fixed; 
	top:335px; 
	left:39px;
}
.sticker02-6{
	position: fixed; 
	top:449px; 
	left:277px;
}
.sticker02-7{
	position: fixed; 
	top:564px; 
	left:238px;
}
.sticker02-8{
	position: fixed; 
	top:464px; 
	left:49px;
}
.sticker02-9{
	position: fixed; 
	top:621px; 
	left:277px;
}
.sticker02-10{
	position: fixed; 
	top:414px; 
	left:49px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker02-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
