@charset "UTF-8";


.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-2{
	position: fixed; 
	top:416px; 
	left:107px;
}
.sticker03-3{
	position: fixed; 
	top:392px; 
	left:252px;
}
.sticker03-4{
	position: fixed; 
	top:646px; 
	left:238px;
}
.sticker03-5{
	position: fixed; 
	top:335px; 
	left:39px;
}
.sticker03-6{
	position: fixed; 
	top:449px; 
	left:277px;
}
.sticker03-7{
	position: fixed; 
	top:564px; 
	left:238px;
}
.sticker03-8{
	position: fixed; 
	top:464px; 
	left:49px;
}
.sticker03-9{
	position: fixed; 
	top:621px; 
	left:277px;
}
.sticker03-10{
	position: fixed; 
	top:414px; 
	left:49px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
.sticker03-1{
	position: fixed; 
	top:520px; 
	left:27px;
}
