<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.itda.common.dao.IUserRepository">

	<select id="checkUserId" parameterType="String" resultType="int">
		<![CDATA[
		SELECT COUNT(*) FROM itdauser WHERE userId = #{userId}
		]]>
	</select>
	
	<insert id="insertUser" parameterType="com.project.itda.common.model.UserModel">
	<![CDATA[
		INSERT INTO 
			itdauser (userId, familySeq, userPw, userName, userAge, userGender, userAddress, userAddressDetail, userPhone, approve, userBirth, email) 
		VALUES 
			(#{userId}, #{familySeq}, #{userPw}, #{userName}, #{userAge}, #{userGender}, #{userAddress}, #{userAddressDetail}, #{userPhone}, #{approve}, #{userBirth}, #{email})
	]]>
	</insert>
	
	<insert id="insertFamily" parameterType="com.project.itda.common.model.FamilyModel">
	    <![CDATA[
	        INSERT INTO family (familySeq, famCode, familyOwner)
	        VALUES (familySeq.nextval, #{famCode}, #{userId})
	    ]]>
	</insert>
	
	<select id="selectFamilySeq" parameterType="String" resultType="int">
	<![CDATA[
		SELECT familySeq 
		FROM family 
		WHERE famCode = #{famCode}
		AND ROWNUM<=1
	]]>
	</select>
	
 	<select id="selectUser" resultType="com.project.itda.common.model.UserModel">
    <![CDATA[
    	SELECT * FROM itdauser WHERE userId=#{userId} AND userPw=#{userPw}
    ]]>
  	</select>	
</mapper>