@charset "UTF-8";

body {
	font-family: 'KoPubWorldDotum';
	margin: 0;
	padding: 0;
}

.adminLoginLayout {
	min-height: 100vh;
	min-width: 100vw;
	background-image: url("../../image/itdaBackImg.png");
}

.adminContainer {
	text-align: center;
}

.adminLogo {
	margin-top: 250px;
	margin-bottom: 60px;
}

.adminIdPwdText {
	width: 240px;
	display: inline-block;
	text-align: left;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 10px;
}

.adminIdPwdInput {
	background: rgba(177, 125, 90, 0.1);
	width: 220px;
	height: 30px;
	border: none;
	outline: none;
	border: none;
	outline: none;
	border-radius: 10px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.adminLoginBtn {
	margin-top: 80px;
	width: 105px;
	height: 40px;
	border: none;
	outline: none;
	color: #FFFFFF;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	background: rgba(177, 125, 90, 0.8);
	border-radius: 8px;
}

.adminLayout {
	min-height: 100vh;
	max-height: 100vh;
	background: #F3F3F3;
	overflow-y: hidden;
}

.adminNaviBox {
	min-height: 100vh;
	max-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
	width: 300px;
	background: #F2EDE4;
	}

.navi-hover{
	min-width:300px; width:65px; position:relative;
	cursor: pointer;
}

.navi-item {
	position: relative;
	width: 250px;
	display: flex;
	
	vertical-align: middle;
	align-items: center;
}

.item-text {
	position: relative;
	height: 65px;
	left: 20px;
	font-family: 'KoPubWorldDotum';
	font-weight: 500;
	font-size: 16px;
	color: #2A221D;
}

.logoAdminText {
	font-family: 'KoPubWorldDotum';
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	color: #8F8F8F;
}

.adminSmallLogo {
	height: 85px;
	margin-left: 25px;
	text-align: center;
	justify-content: center;
	text-align: center;
}

.adminVector {
	position: absolute;
	transform: rotate(-180deg);
	width: 16px;
	height: 16px;
	left: 90%;
}

.top-bar {
	position: fixed;
	top:0;
	height: 85px;
	background: #FFFFFF;
	font-size: 14px;
	text-align: right;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: calc(100% - 300px);
	right: 0;
	justify-content: flex-end;
}

.adminContent{
	margin-left: 300px;
	margin-top: 85px;
	padding: 20px;
	text-align: center;
}

.questionListContainer{
	margin-top: 50px;
	display: inline-block;
	position: relative;
	background-color: white;
	padding-bottom: 3em;
	padding-right: 3em;
	padding-left: 3em;
	padding-top: 3em;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.detailItemText{
	margin-bottom: 10px;
	position: relative;
	left: 140px;
	font-family: 'KoPubWorldDotum';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	color: #2A221D;
	cursor: pointer;
}

.questionListText{
	position: absolute;
	top:2em;
	left:1.5em;
	display: inline-block;
	font-family: 'KoPubWorldDotum';
	font-style: normal;
	font-weight: 700;
	font-size: 2em;
	text-align: left;
}

.dataTable{
	display: inline-table;
	text-align: center;
	width: 65vw !important;
	margin-top: 6%;
	margin-bottom: 2%;
	font-family: 'KoPubWorldDotum';
	font-style: normal;
	border-bottom: 1px solid #ddd;
	
}
th {
	text-align: center !important;
	font-weight:800;
	font-size: 16px;
}
.pageBtn{
	font-family: 'KoPubWorldDotum';
	font-style: normal;
	padding: 5px;
	text-decoration: underline;
	cursor: pointer;
	text-decoration: blink;
	font-size: 1.2em;
}

.question-insert-btn{
	position: absolute;
	right: 8em;
	bottom: 4em;
	border: 0;
}

.question-delete-btn{
	position: absolute;
	right: 3em;
	bottom: 4em;
	border: 0;
}

.chkBoxWidth{
	width: 2em;
}

.seqWidth{
	width: 5em;
}

.wirterWidth{
	width: 7em;
}

.statusWidth{
	width: 7em;
}

.typeWidth{
	width: 6em;
}

.navi-selected{
	background-color: #F3F3F3;
}

.edit-input{
	width: 40em;	
}



.insert-question-modal{
	width: 500px;
	height: 200px;
	text-align: center;
	font-family: 'KoPubWorldDotum';
	background-color: #ffffff;
	position: fixed;
	top: 20%;
	left: 43%;
	border-radius: 30px;
	display: none;

}

.insert-question-text{
	margin-top: 25px;
	font-size: 20px;
	margin-bottom: 25px;
}

.insert-question-input{
	width: 80%;
	padding: 7px;
}

.question-modal-insert-btn{
	margin-left: 15px;
}

.modal-black{
	position: fixed;
	top:0;
	left: 0;
	width:100vw;
	height: 100vw;
	background-color: black;
	opacity: 0.5;
	display: none;
}
	
.modal-btn-group{
	margin-top: 20px;
	letter-spacing: 0.06em;
}

.question-modal-cancel-btn{
	
}

.nextGroupBtn{
	cursor: pointer;
}

.prevGroupBtn{
	cursor: pointer;
}

.search-box{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.form-control{
	width: 30% !important;
	display: inline-block !important;
}

.btn-primary{
	background-image: none !important;
	background-color: #F2E0D5 !important;
	color: #000000 !important;
	border: none !important;
}

.btn-danger{
	background-image: none !important;
	background-color: #D9CDBF !important;
	color: #000000 !important;
	border: none !important;
}

.adminInfo{
	padding-right:10px;
}

.logout{
	padding-right: 50px;
}

