@charset "UTF-8";

.questionTextOfList {
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	width: 320px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	letter-spacing: 0.05em;
	color: #2A221D;
}

.questionListContainer {
	padding: 30px;
}

.questionListBox {
	display: flex;
	margin-bottom: 40px;
	
}

.finishCount {
	font-style: normal;
	font-weight: 700;
	font-size: 8px;
	line-height: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #E16646;
	font-family: 'Bookk Myungjo';
}

.listNum {
	width:25px;
}