@charset "UTF-8";


.layout {
	min-width: 100%;
	max-wdith: 393.33px;
	min-height: 851.33px;
	background-image: url("/image/itdaBackImg.png");
}

.error-messageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20px;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 40px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #6C4A32;
}


.login-move-btn{
	background-color: #B17D5A;
	color: #FFFFFF;
	position: absolute;
	top: 60%;
    left: 50%;
    font-family: 'Bookk Myungjo';
    transform: translate(-50%, -50%);
    font-size:22px;
    border-radius: 15px;
    padding: 10px;
	
}