@charset "UTF-8";

.questionBox {
	position: absolute;
	width: 362px;
	height: 174px;
	left: 15px;
	top: 661px;
	background-image: url("../image/questionBox.png");
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.questionText {
	width: 340px; 
	font-family : 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	display: inline-block;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #22242E;
	word-wrap: break-word;
	font-family: 'Bookk Myungjo';
}

.mainImgToggle {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 30px;
	top: 87px;
	cursor: pointer;
}

.mainBackground{
	position: absolute;
	top: 0;
	left: 0;
	width:393px;
	height: 851px;
}

.mainTimeLine{
	position: absolute;
	top: 210px;
	left: 30px;
	width:170px;
	cursor: pointer;
}

.mainBucketList{
	position: absolute;
	top : 420px;
	left: 263.33px;
	width: 120px;	
	cursor: pointer;
}

.mainDailyQuestion{
	position: absolute;
	top : 460px;
	left : 45px;
	width: 230px;
	cursor: pointer;
}

.mainWhisper {
	position: absolute;
	top: 370px;
	left: 163.33px;
	width: 90px;
	cursor: pointer;
}

.dailyQuestionText{
	position: absolute;
	top: 10%;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0.06em;
	color: gray;
}