@charset "UTF-8";

#previewImage[src="#"] {
	display: none;
}

.gobackbtn {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 15px;
	top: 22px;
	z-index:1;
}

.insertPostForm {
	width: 393px;
	height: 541px;
}

.postWriteText {
	font-family: 'Bookk Myungjo';
	font-size: 25px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.insertContentareaBox {
	height:493px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../../image/timeline/postWriteBackImg.png");
}

.insertContentarea {
	width: 90%;
	height: 99%;
	font-family: 'Bookk Myungjo';
	font-size: 16px;
	line-height: 41px;
	letter-spacing: 0.05em;
	color: #2A221D;
	outline: none;
	resize: none;
	background: none;
	border: none;
	resize: none;
}

.addImgBox {
	position: relative;
	width: 393px;
	margin-top: 50px;
	min-height: 187px;
	text-align: center;
	background: rgba(177, 125, 90, 0.06);
	border-radius: 20px;
}

.addImgImg {
	width: 100%;
	height: 100%;
}

.imgAddPlzText {
	position: absolute;
	top: 40%;
	left: 34%;
	font-family: 'Bookk Myungjo';
	margin-top: 0px;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	align-items: center;
	text-align: center;
	color: #9D9690;
}


#file {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.innerAddImgBox label {
	cursor: pointer;
}

.innerAddImgBox input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}