@charset "UTF-8";

a {
	text-decoration: none;
}

.gobackbtn{
   position: absolute;
   width: 20px;
   height: 20px;
   left: 15px;
   top: 22px;
}

.detailEllipsis{
	position: absolute;
	width: 23px;
	height: 23px;
	left: 346px;
	top: 20px;
}


.postLayout{
   position: absolute;
   width: 393px;
   min-height: 300px;
   left: 0px;
   top: 63px;
   background-image: url("../../image/timeline/postbackground.png");
}


.postInfo{
   position: relative;
   width: 393px;
   height: 77px;
   left: 0px;
   top: 0px;
}

.profileImg{
   position: absolute;
   width: 48px;
   height: 48px;
   left: 22px;
   top: 16px;
}

.writter{
   position: absolute;
   width: 114px;
   height: 27px;
   left: 80px;
   top: 16px;
   
   font-family: 'Bookk Myungjo';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 16px;
   display: flex;
   align-items: center;
   letter-spacing: 0.05em;
   
   color: #2A221D;
}

.createDate{
   position: absolute;
   width: 181px;
   height: 24px;
   left: 80px;
   top: 37px;
   
   font-family: 'Bookk Myungjo';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 15px;
   display: flex;
   align-items: center;
   
   color: #9D9690;   
   
}

.postContent {
	width: 393px;
	left: 0px;
	top: 0px;
}

.postContentText {
	width: 349px;
	text-align: justify;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	margin-left: 22px;
	margin-top: 4%;
	display: flex-start;
	align-items: center;
	letter-spacing: 0.05em;
   
	color: #2A221D;
}

.userPic{
	width:100%;
	margin-top: 4%;
	min-height: 250px;
}

.replyCountBox {
	height: 50px;
    display: flex;
    align-items: center;
	margin-left: 22px;
	margin-top: -2%;
}

.replyCountImg {
}

.replyCountText {
   position: absolute;
   left: 15%;
   font-family: 'Bookk Myungjo';
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   color: #9D9690;
}

.bucketReplyContainer {
	position: relative;
}

.bucketReplyProfile {
	position: absolute;
	top: 20px;
	left: 10px;
}

.replyTextBox {
	position: relative;
	width: 320px;
	left: 60px;
	top: 15px;
}

.userNameText {
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #2A221D;
	margin-bottom: 5px;
}

.replyContentsText {
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	width: 290px;
	align-items: center;
	letter-spacing: 0.05em;
	color: #2A221D;
	padding-bottom: 5px;
	align-items: center;
}

.replyRegDateText {
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	color: #9D9690;
}

.inputReplyBox {
	position: fixed;
	width: 393px;
	height: 67px;
	background: #FFFFFF;
	bottom: 0px;
	display: flex;
	align-items: center;
}

.inputReply {
	position: relative;
	left: 10px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.2);
	border: 4px solid rgba(177, 125, 90, 0.2);
	border-radius: 20px;
	width: 316.08px;
	height: 47px;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #9D9690;
	padding-left: 15px;
	padding-right: 15px;
}

.replyAddImg {
	position: relative;
	left: 25px;
	background-image: url("../../image/bucket/replyAddImg.png")
}

.replyCountBox {
	padding-top: 10px;
	height: 50px;
	position: relative;
	display: flex;
	align-items: center;
	height: 50px;
}

.replyCountImg {
	position: relative;
}

.replyCountText {
	position: relative;
	left: 12px;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	color: #9D9690;
}

.replyEllipsis {
	position: absolute;
	left: 280px;
	top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	
	filter: grayscale(90%);
}

.replyModal {
	position: absolute;
	left: 220px;
	top: 20px;
	height: 70px;
	width: 100px;
	border: solid 1px;
	text-align: center;
	vertical-align: middle;
	align-items: center;
	background-color: white;
	border-color: #FFC3C3;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	display: none;
}

.replyModalBtn {
	display: flex;
	text-align: center;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	height: 35px;
}

.reMoBtn {
	border-bottom: solid 1px;
	border-color: #FFC3C3;
}

.show{
	display: block !important;
	
	
}

.replyInput{
	padding: 0px;
	background: none;
	width: 290px;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #2A221D;
	border: none;
	outline: none;
	border-bottom: solid 2px;	
}
.modifyReplyBtnBox{
	margin-top: 5px;
	width: 290px;
	text-align: right;
	
}

.modifyReplyCancelBtn{
	width: 50px;
	height: 35px;
	border:none;
	outline:none;
background: rgba(177, 125, 90, 0.15);
border-radius: 20px;	
font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	letter-spacing: 0.05em;
}

.modifyReplyModifyBtn{
	width: 50px;
	height: 35px;
	border:none;
	outline:none;
background: rgba(177, 125, 90, 0.15);
border-radius: 20px;	
font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	letter-spacing: 0.05em;
}
.editReplyForm{
	display: none;
}

.modifyBtn {
	color: #2A221D;
}

.deleteBtn {
	color: #E16646;
}

.cancelBtn {
	color: #2A221D;
}


/* 모달 창 스타일 */

.detailDeleteBox {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 73px;
	background-color: white;
	border-top: solid 1px;
	border-color: #FFC3C3;
}

.detailDeleteText {
	font-family: 'Bookk Myungjo';
	font-size: 20px;
	color: #E16646;
}


.detailModifyText {
	font-family: 'Bookk Myungjo';
	font-size: 20px;
	color: #E16646;
}

.btnBox{
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Bookk Myungjo';
	font-size: 18px;
	border-top: solid 1px;
	border-color: #FFC3C3;
}

.except1{
	border:none !important;
}

.detailDeleteBox {
	position: fixed; /* 화면을 기준으로 위치 지정 */
	left: 0; /* 왼쪽 정렬 */
	bottom: 0px; /* 처음에는 아래에 위치시켜놓음 */
	height: 140px;
	text-align: center;
	justify-content: center;
	vertical-align: middle;
	width: 100%; /* 가로폭 100% */
	transform: translateY(100%); /* 처음에는 아래로 숨겨놓음 */
	transition: transform 0.3s, bottom 0.3s;
	/* transform, bottom 속성이 변할 때 애니메이션 효과 적용 */
	border-radius: 30px 30px 0 0; /* 상단 모서리만 둥글게 */
	
}

.detailDeleteBox.active {
	transform: translateY(0%); /* active 클래스가 추가되면 위로 이동시킴 */
	bottom: 62px; /* bottom 속성 값 변경 */
}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	border-radius: 15px;
	width: 284px;
	height: 141px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-deleteText {
	margin-top: 36px; text-align : center;
	display: inline-block;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
}

.modal-buttons {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.modal-buttons button {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	cursor: pointer;
}

#cancel-button {
	background-color: #e6e6e6;
	width: 50%;
	color: #333;
}

#delete-button {
	background-color: #e16646;
	width: 50%;
	color: #fff;
}

.modal-btn-box {
	position: absolute;
	border-top: solid 1px #DCDAD9; bottom : 0;
	width: 100%;
	height: 47px;
	bottom: 0;
}

.btn-cancel-area {
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	border-right: solid 1px;
	display: inline-block;
	justify-content: center;
	font-family: 'Bookk Myungjo';
	font-size: 18px;
	background-color: #fefefe;
	border: none;
	border-right: solid 1px #DCDAD9; color : #2A221D;
	border-bottom-left-radius: 15px;
	color: #2A221D
}

.btn-delete-area {
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: center;
	border-bottom-right-radius: 15px;
	font-family: 'Bookk Myungjo';
	font-size: 18px;
	background-color: #fefefe;
	border: none;
	color: #E16646;
}


