@charset "UTF-8";

a {
	text-decoration: none;
}

.gobackbtn{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 15px;
	top: 22px;
	z-index: 1
}

.searchbtn{
	position: absolute;
	width: 22px;
	height: 22px;
	left: 312px;
	top: 22px;
	z-index: 1
}

.writebtn{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 354px;
	top: 20px;
	z-index: 1
}

.timelineMainImg{
	position: absolute;
	width: 393px;
	height: 262px;
	left: 0px;
	top: 0px;
}

.profile{
	position: absolute;
	width: 393px;
	height: 101px;
	left: 0px;
	top: 262px;
}

.postLayout{
	position: absolute;
	width: 393px;
	height: 851px;
	left: 0px;
	top: 375px;
	background-image: url("../../image/timeline/postbackground.png");
}

.postInfo{
	position: absolute;
	width: 393px;
	height: 77px;
	left: 0px;
	top: 0px;
}

.profileImg{
	position: absolute;
	width: 48px;
	height: 48px;
	left: 22px;
	top: 16px;
}

.writter{
	position: absolute;
	width: 114px;
	height: 27px;
	left: 80px;
	top: 16px;
	
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	display: flex;
	align-items: center;
	letter-spacing: 0.05em;
	
	color: #2A221D;
}

.createDate{
	position: absolute;
	width: 181px;
	height: 24px;
	left: 81px;
	top: 37px;
	
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 15px;
	display: flex;
	align-items: center;
	
	color: #9D9690;	
	
}

.postContent {
position: relate;
width: 349px;
height: 43px;
left: 22px;
top: 77px;

font-family: 'Bookk Myungjo';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.05em;

color: #2A221D;
}


