@charset "UTF-8";

a {
	text-decoration: none;
}

.gobackbtn{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 15px;
	top: 22px;
	z-index: 1
}

.writebtn{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 354px;
	top: 20px;
	z-index: 1
}

.postBanner{
	position: absolute;
	top:63;
}


.timelineMainImg{
	width: 393px;
	height: 262px;
	margin: 0;
	padding: 0;
}

.blindImg{
	position: absolute;
	top:0;
	width: 393px;
	height: 262px;
}

.profile{
	width: 393px;
	height: 101px;
		margin: 0;
	padding: 0;
}

.allPostLayout{
	position: absolute;
	width: 393px;
	height: 851px;
	left: 0px;
	top: 430px;
	background-image: url("../../image/timeline/postbackground.png");
}

.postLayout{
	position: relative;
	width: 393px;
	height: 851px;
	left: 0px;
	top: 0px;
}


.postInfo{
	position: relative;
	width: 393px;
	height: 77px;
	left: 0px;
	top: 0px;
}

.profileImg{
	position: absolute;
	width: 48px;
	height: 48px;
	left: 22px;
	top: 16px;
}

.writter{
	position: absolute;
	width: 114px;
	height: 27px;
	left: 80px;
	top: 16px;
	
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	display: flex;
	align-items: center;
	letter-spacing: 0.05em;
	
	color: #2A221D;
}

.createDate{
	position: absolute;
	width: 181px;
	height: 24px;
	left: 81px;
	top: 37px;
	
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 15px;
	display: flex;
	align-items: center;
	
	color: #9D9690;	
	
}

.postContent {
position: relative;
width: 393px;
left: 0px;
top: 77px;
}

.postContentText {
	position: absolute;
	width: 349px;
	height: 54px;
	left: 22px;
	top: 80px;
	text-align: justify;
	font-family: 'Bookk Myungjo';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	letter-spacing: 0.05em;
	
	color: #2A221D;
}


