<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.itda.bucketlist.dao.IBucketListRepository">

	<select id="getFamilyBucket"
		resultType="com.project.itda.bucketlist.model.BucketListModel">
		select * from BUCKETLIST
		where FAMILYSEQ = #{familySeq}
		and TYPE = 'Family'
	</select>
	
	<select id="getOneFamilyBucket"
		resultType="com.project.itda.bucketlist.model.BucketListModel">
		select * from
		BUCKETLIST where BUCKETSEQ = #{bucketSeq}
	</select>
	
	<update id="invisible"
		parameterType="com.project.itda.bucketlist.model.BucketListModel">
		update
		BUCKETLIST set VISIBLE = 'n'
		WHERE BUCKETSEQ = #{bucketSeq}
	</update>
	
	<select id="getPersonalBucket"
		resultType="com.project.itda.bucketlist.model.BucketListModel">
		select * from BUCKETLIST
	</select>
	
	<select id="getBucketReply"
		resultType="com.project.itda.bucketlist.model.BucketReplyModel">
		select * from BUCKETREPLY
		where BUCKETSEQ = #{bucketSeq}
	</select>
	
	<insert id="insertFamily"
		parameterType="com.project.itda.bucketlist.model.BucketListModel">
			INSERT INTO BUCKETLIST (bucketSeq ,userId, regDate, title, contents, goalDate, type, familySeq, filename, filepath)
               VALUES (bucketSeq.NEXTVAL, #{userId}, SYSDATE, #{title}, #{contents}, SYSDATE, 'Family', #{familySeq}, #{filename}, #{filepath})
	</insert>
	
	<insert id="insertPersonal"
		parameterType="com.project.itda.bucketlist.model.BucketListModel">
			INSERT INTO BUCKETLIST (bucketSeq ,userId, regDate, title, contents, goalDate, type, familySeq, filename, filepath)
               VALUES (bucketSeq.NEXTVAL, #{userId}, SYSDATE, #{title}, #{contents}, SYSDATE, 'Personal', #{familySeq}, #{filename}, #{filepath})
	</insert>
	
	<update id="update"
		parameterType="com.project.itda.bucketlist.model.BucketListModel">
			update BUCKETLIST set 
				title = #{title},
				contents = #{contents},
				goalDate = SYSDATE

				where bucketSeq = #{bucketSeq}
				
	</update>
	
	
	
	
	
</mapper>