<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.itda.bucketlist.dao.IBucketListRepository">

	<select id="getFamilyBucket"
		resultType="com.project.itda.bucketlist.model.BucketListModel">
		select * from BUCKETLIST
		where FAMILYSEQ = #{familySeq}
		and TYPE = 'Family'
		order by regDate DESC
	</select>
	
	<select id="getOneFamilyBucket"
		resultType="com.project.itda.bucketlist.model.BucketListModel">
		select * from
		BUCKETLIST where BUCKETSEQ = #{bucketSeq}
	</select>
	
	<update id="invisible"
		parameterType="com.project.itda.bucketlist.model.BucketListModel">
		update
		BUCKETLIST set VISIBLE = 'n'
		WHERE BUCKETSEQ = #{bucketSeq}
	</update>
	
	<select id="getPersonalBucket"
		resultType="com.project.itda.bucketlist.model.BucketListModel">
		select * from BUCKETLIST
		where USERID = #{userId}
		and TYPE = 'Personal'
	</select>
	
	<select id="getBucketReply"
		resultType="com.project.itda.bucketlist.model.BucketReplyModel">
		SELECT u.userName, r.bucketReplySeq, r.bucketSeq, r.regDate, r.replyContents, r.userId
		FROM bucketreply r JOIN itdauser u
		on r.userId = u.userId
		WHERE bucketSeq = #{bucketSeq}
		ORDER BY r.regDate DESC
	</select>
	
	<insert id="insertBucket"
		parameterType="com.project.itda.bucketlist.model.BucketListModel">
			INSERT INTO BUCKETLIST (bucketSeq ,userId, regDate, title, contents, goalDate, type, familySeq, visible, finishDate, fileName, fileData)
               VALUES (bucketSeq.NEXTVAL, #{userId}, SYSDATE, #{title}, #{contents}, NULL, #{type}, #{familySeq}, 'y', NULL, #{fileName}, #{fileData})
	</insert>
	
	<update id="updateBucket"
		parameterType="com.project.itda.bucketlist.model.BucketListModel">
			update BUCKETLIST set 
				title = #{title},
				contents = #{contents},
				fileData = #{fileData},
				fileName = #{fileName}

				where bucketSeq = #{bucketSeq}
	</update>
	
	<update id="updateBucketTwo"
		parameterType="com.project.itda.bucketlist.model.BucketListModel">
			update BUCKETLIST set 
				title = #{title},
				contents = #{contents}

				where bucketSeq = #{bucketSeq}
	</update>
	
	<update id="success"
		parameterType="com.project.itda.bucketlist.model.BucketListModel">
		update
		BUCKETLIST set FINISHDATE = SYSDATE
		WHERE BUCKETSEQ = #{bucketSeq}
	</update>
	
	<insert id="insertReply" parameterType="com.project.itda.bucketlist.model.BucketReplyModel">
		INSERT INTO BUCKETREPLY (bucketReplySeq, bucketSeq, regDate, replyContents, userId)
			VALUES (bucketReplySeq.NEXTVAL, #{bucketSeq}, SYSDATE, #{replyContents}, #{userId})
	</insert>
		
	<select id="countBucketOneReply" parameterType="int" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM BUCKETREPLY
			WHERE bucketSeq = #{bucketSeq}
		]]>
	</select>
	
	<update id="updateReply"
		parameterType="com.project.itda.bucketlist.model.BucketReplyModel">
		<![CDATA[
		update BUCKETREPLY set 
		    replyContents = #{replyContents, jdbcType=CLOB}
		    WHERE bucketReplySeq = #{bucketReplySeq}
		]]>
	</update>
	
	<delete id="deleteReply">
		delete from BUCKETREPLY
		where BUCKETREPLYSEQ=#{bucketReplySeq}
	</delete>
	
	<!-- /////////////////////////////////////////////////// -->
	
	
		
	
</mapper>