<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.itda.dailyquestion.dao.IDailyAnswerRepository">
    
    <insert id="saveDailyAnswer" parameterType="com.project.itda.dailyquestion.model.DailyAnswerModel">
        INSERT INTO dailyAnswer(dailyAnswerSeq, userId, familySeq, answer, ans_date, dailyQuestionSeq)
        VALUES (dailyAnswerSeq.nextval, #{userId}, #{familySeq}, #{answer}, SYSDATE, #{dailyQuestionSeq} )
    </insert>
    
    <select id="getDailyAnswerByUserId" parameterType="map" resultType="com.project.itda.dailyquestion.model.DailyAnswerModel">
   		<![CDATA[
   		SELECT * FROM dailyanswer WHERE dailyQuestionSeq = #{questionSeq} AND userId = #{userId}
   		]]>
	</select>
    
    <select id="getAnswersByFamilySeqAndDailyQuestionSeq" parameterType="map" resultType="com.project.itda.dailyquestion.model.DailyAnswerModel">
    	<![CDATA[
        SELECT * FROM dailyAnswer
        WHERE familySeq = #{familySeq} AND dailyQuestionSeq = #{dailyQuestionSeq}
    	]]>
    </select>
    
    <select id="getFamilyAnswers" parameterType="map" resultType="com.project.itda.dailyquestion.model.FamilyAnswerModel">
    <![CDATA[
		SELECT
	    u.userId,
	    u.userName,
	    da.answer,
	    da.ans_date
		FROM
		    itdaUser u
		LEFT JOIN
		    dailyAnswer da ON u.userId = da.userId AND da.dailyQuestionSeq = #{dailyQuestionSeq}
		WHERE
		    u.familySeq = #{familySeq}
		ORDER BY
		    da.ans_date, u.userId
    ]]>
	</select>
	
	<select id="countAnsweredFamilyMember" parameterType="int" resultType="int">
		<![CDATA[
			SELECT COUNT(DISTINCT userId)
			FROM dailyAnswer
			WHERE familySeq = #{familySeq} AND dailyQuestionSeq = #{dailyQuestionSeq}
		]]>
	</select>
	
	<select id="getMyAnswer" parameterType="map" resultType="com.project.itda.dailyquestion.model.DailyAnswerModel">
		<![CDATA[
			SELECT * FROM dailyAnswer
			WHERE userId = #{userId} AND dailyQuestionSeq = #{dailyQuestionSeq}
		]]>
	</select>
	
	
	<select id="countCompletedQuestion" parameterType="map" resultType="int">
		<![CDATA[
		    WITH questionSeqs AS (
		    SELECT FQ.DAILYQUESTIONSEQ
		    FROM FAMILYQUESTION FQ
		    WHERE EXTRACT(YEAR FROM FQ.ASKEDDATE) = #{year} AND EXTRACT(MONTH FROM FQ.ASKEDDATE) = #{month}
		    AND FAMILYSEQ = #{familySeq}
		)
		SELECT COUNT(*) AS completed_questions
		FROM questionSeqs
		WHERE (
		    SELECT COUNT(DISTINCT DA.USERID)
		    FROM DAILYANSWER DA
		    WHERE DA.DAILYQUESTIONSEQ = questionSeqs.DAILYQUESTIONSEQ
		) = (
		    SELECT COUNT(*)
		    FROM ITDAUSER U
		    WHERE U.FAMILYSEQ = #{familySeq}
		)
		]]>
	</select>
</mapper>