<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.itda.dailyquestion.dao.IDailyQuestionRepository">
    
    <select id="getRandomQuestion" parameterType="int" resultType="com.project.itda.dailyquestion.model.DailyQuestionModel">
    	<![CDATA[
		SELECT dq.*
		FROM dailyQuestion dq
		WHERE NOT EXISTS (
		    SELECT 1
		    FROM familyQuestion fq
		    WHERE fq.dailyQuestionSeq = dq.dailyQuestionSeq
		    AND fq.familySeq = #{familySeq}
		) AND dq.VISIBLE = 1
		ORDER BY dbms_random.value()
		FETCH FIRST 1 ROW ONLY
    	]]>
    </select>
    
    <select id="getAllQuestion" resultType="com.project.itda.dailyquestion.model.DailyQuestionModel">
    	<![CDATA[
    	SELECT *
    	FROM dailyQuestion
    	ORDER BY dailyQuestionSeq DESC
    	]]>
    </select>
    
    <insert id="insertQuestion" parameterType="com.project.itda.dailyquestion.model.DailyQuestionModel">
    	<![CDATA[
    		INSERT INTO dailyQuestion(dailyQuestionSeq, QUESTION, TYPE, FAMILYSEQ, VISIBLE, WRITER)
    		VALUES (dailyQuestionseq.nextval, #{question, jdbcType=CLOB}, #{type}, #{familySeq}, #{visible}, #{userId})
    	]]>
    </insert> 
    
</mapper>