<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.itda.dailyquestion.dao.IFamilyQuestionRepository">
    
	<select id="selectByFamSeqAndAskedDate" parameterType="map" resultType="int">
	    <![CDATA[
	        SELECT NVL(COUNT(*), 0)
	        FROM familyQuestion
	        WHERE familySeq = #{familySeq}
	        AND TO_CHAR(askedDate, 'YYYY-MM-DD') = #{todayStr}
	    ]]>
	</select>
    
    
    <insert id="insert" parameterType="com.project.itda.dailyquestion.model.FamilyQuestionModel">
    	<![CDATA[
    		INSERT INTO familyquestion (familyQuestionSeq,familyseq, dailyquestionseq, answer, askeddate)
   			VALUES(familyQuestionSeq.nextval,#{familySeq}, #{dailyQuestionSeq}, #{answer}, SYSDATE)
   		]]>
	</insert>
	
	<select id="todayFamilyQuestion" parameterType="int" resultType="com.project.itda.dailyquestion.model.FamilyQuestionModel">
		<![CDATA[
          SELECT 
			    dq.dailyQuestionSeq,
			    dq.question, 
			    fq.askedDate,
			    questionOrder
			FROM dailyQuestion dq
			JOIN (
			    SELECT 
			        familySeq, 
			        dailyQuestionSeq, 
			        askedDate, 
			        ROW_NUMBER() OVER (PARTITION BY familySeq ORDER BY askedDate) AS questionOrder
			    FROM familyQuestion 
			    WHERE familySeq = #{familySeq}
			) fq ON dq.dailyQuestionSeq = fq.dailyQuestionSeq
            WHERE TRUNC(fq.askedDate) = TRUNC(SYSDATE)
            AND dq.VISIBLE =1
			ORDER BY fq.askedDate DESC
		]]>
	</select>
	
	<select id="todayFamilyQuestionWithQuestionOrder" parameterType="int" resultType="com.project.itda.dailyquestion.model.FamilyQuestionModel">
		<![CDATA[
		      SELECT 
			    dq.dailyQuestionSeq,
			    dq.question, 
			    fq.askedDate,
			    questionOrder
			FROM dailyQuestion dq
			JOIN (
			    SELECT 
			        familySeq, 
			        dailyQuestionSeq, 
			        askedDate, 
			        ROW_NUMBER() OVER (PARTITION BY familySeq ORDER BY askedDate) AS questionOrder
			    FROM familyQuestion 
			    WHERE familySeq = #{familySeq}
			) fq ON dq.dailyQuestionSeq = fq.dailyQuestionSeq
            WHERE TRUNC(fq.askedDate) = TRUNC(SYSDATE)
			ORDER BY fq.askedDate DESC;
		]]>
	</select>
	
	
	 <select id="getQuestionByFamilySeq" parameterType="int" resultType="com.project.itda.dailyquestion.model.FamilyQuestionModel">
	    <![CDATA[
	            SELECT 
	                dq.dailyQuestionSeq,
	                dq.question, 
	                fq.askedDate,
	                fq.familySeq,
	                ROW_NUMBER() OVER (PARTITION BY fq.familySeq ORDER BY fq.askedDate) AS questionOrder
	            FROM dailyQuestion dq
	            JOIN familyQuestion fq ON dq.dailyQuestionSeq = fq.dailyQuestionSeq
	            WHERE fq.familySeq = #{familySeq} 
	     		ORDER BY Questionorder DESC
	    ]]>
	</select>
	
	<select id="familyDailyQuestionByQuestionOrder" parameterType="int" resultType="com.project.itda.dailyquestion.model.FamilyQuestionModel">
		<![CDATA[
	        SELECT 
			    dq.dailyQuestionSeq,
			    dq.question, 
			    fq.askedDate,
			    questionOrder
			FROM dailyQuestion dq
			JOIN (
			    SELECT 
			        familySeq, 
			        dailyQuestionSeq, 
			        askedDate, 
			        ROW_NUMBER() OVER (PARTITION BY familySeq ORDER BY askedDate) AS questionOrder
			    FROM familyQuestion 
			    WHERE familySeq = #{familySeq}
			) fq ON dq.dailyQuestionSeq = fq.dailyQuestionSeq
			WHERE fq.questionOrder = #{questionOrder}
			ORDER BY fq.askedDate DESC
		]]>
	</select>

</mapper>