<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.itda.timeline.dao.ITimeLineRepository">

	<select id="getPostList"
		resultType="com.project.itda.timeline.model.TimeLineModel">
		SELECT T.*, NVL(R.replyCount, 0) AS replyCount, U.userName
		FROM TIMELINE T
		LEFT JOIN (
		    SELECT postSeq, COUNT(*) AS replyCount
		    FROM TIMELINEREPLY
		    GROUP BY postSeq
		) R ON T.postSeq = R.postSeq
		LEFT JOIN ITDAUSER U ON T.userId = U.userId
		WHERE T.FAMILYSEQ = #{familySeq}
		ORDER BY T.createDate DESC
	</select>


	<select id="getContent" parameterType="int"
		resultType="com.project.itda.timeline.model.TimeLineModel">
		SELECT T.*, NVL(R.replyCount, 0) AS replyCount, U.userName
		FROM TIMELINE T
		LEFT JOIN (
		    SELECT postSeq, COUNT(*) AS replyCount
		    FROM TIMELINEREPLY
		    GROUP BY postSeq
		) R ON T.postSeq = R.postSeq
		LEFT JOIN ITDAUSER U ON T.userId = U.userId
        where T.postSeq = #{postSeq}
	</select>
	
	<insert id="insertPost"  
		parameterType="com.project.itda.timeline.model.TimeLineModel">
			INSERT INTO TIMELINE (postSeq, userId, createDate, content, familySeq, fileName, fileData, visible)
               VALUES (postSeq.NEXTVAL, #{userId}, SYSDATE, #{content}, #{familySeq}, #{fileName}, #{fileData},1)
	</insert>
	
	<update id="updatePost"
		parameterType="com.project.itda.timeline.model.TimeLineModel">
			update TIMELINE set 
				content = #{content},
				fileData = #{fileData},
				fileName = #{fileName}
				
				where postSeq = #{postSeq}
	</update>
	
	<update id="updatePostTwo"
		parameterType="com.project.itda.timeline.model.TimeLineModel">
			update TIMELINE set 
				content = #{content}
				
				where postSeq = #{postSeq}
	</update>
	
	<update id="deletePost"
		parameterType="com.project.itda.timeline.model.TimeLineModel">
		update
		TIMELINE set VISIBLE = 0
		WHERE POSTSEQ = #{postSeq}
	</update>
	
	<select id="getReply"
		resultType="com.project.itda.timeline.model.TimeLineReplyModel">
		SELECT u.userName, r.replySeq, r.postSeq, r.replyDate, r.replyContent, r.userId
		FROM reply r JOIN itdauser u
		on r.userId = u.userId
		WHERE postSeq = #{postSeq}
		ORDER BY r.createDate DESC
	</select>
	
	<insert id="insertReply" parameterType="com.project.itda.timeline.model.TimeLineReplyModel">
		INSERT INTO TIMELINEREPLY (replySeq, postSeq, replyDate, replyContent, userId)
			VALUES (replySeq.NEXTVAL, #{postSeq}, SYSDATE, #{replyContent}, #{userId})
	</insert>
	
	<update id="updateReply"
		parameterType="com.project.itda.timeline.model.TimeLineReplyModel">
		<![CDATA[
		update TIMELINEREPLY set 
		    replyContent = #{replyContent, jdbcType=CLOB}
		    WHERE replySeq = #{replySeq}
		]]>
	</update>
	
	<delete id="deleteReply">
		delete from TIMELINEREPLY
		where replySeq = #{replySeq}
	</delete>
	
	<select id="countPostReply" parameterType="int" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM TIMELINEREPLY
			WHERE postSeq = #{postSeq}
		]]>
	</select>
	
	
	
</mapper>