<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.itda.whisper.dao.IWhisperRepository">

	<insert id="insertWhisper" parameterType="com.project.itda.whisper.model.WhisperModel">
		<![CDATA[
			INSERT INTO WHISPER (whisperSeq, sender, receiver, sendDate, message, whisperType, visible, RESERVEDATE, SENDERNICKNAME)
			VALUES (whisperSeq.nextval, #{sender}, #{receiver}, SYSDATE, #{message}, #{whisperType}, #{visible}, #{reserveDate}, #{senderNickname})
		]]>
	</insert>
	
	<select id="getWhisperList" parameterType="String" resultType="com.project.itda.whisper.model.WhisperModel">
		<![CDATA[
			SELECT * 
			FROM WHISPER
			WHERE receiver = #{userId} AND VISIBLE = 1
			ORDER BY sendDate DESC
		]]>
	</select>
	
	<select id="getWhisperDetail" parameterType="int" resultType="com.project.itda.whisper.model.WhisperModel">
		<![CDATA[
			SELECT *
			FROM WHISPER
			WHERE WHISPERSEQ = #{whisperSeq}
		]]>
	</select>
	
	<update id="checkWhisper" parameterType="int">
		<![CDATA[
			UPDATE whisper
			SET checked = 1
			WHERE whisperSeq = #{whisperSeq}
		]]>
	</update>
	
	
    <select id="getInboxList" parameterType="String" resultType="com.project.itda.whisper.model.WhisperModel">
		<![CDATA[
        SELECT whisperSeq, sender, receiver, TRUNC(sendDate) AS sendDate, message, whisperType, visible, reserveDate, senderNickName, checked
        FROM whisper
        WHERE receiver = #{userId} AND visible = 1
        ORDER BY sendDate DESC
		]]>
    </select>
    
    <select id="getOutboxList" parameterType="String" resultType="com.project.itda.whisper.model.WhisperModel">
    	<![CDATA[
    	SELECT whisperSeq, sender, receiver, TRUNC(sendDate) AS sendDate, message, whisperType, visible, reserveDate, senderNickName, checked
    	FROM whisper
    	WHERE sender = #{userId}
    	ORDER BY sendDate DESC
    	]]>
    </select>
    
    <update id="deleteWhisper" parameterType="int">
    	<![CDATA[
    		UPDATE whisper 
    		SET visible = 0
    		WHERE whisperSeq = #{whisperSeq}
    	]]>
    </update>
	
</mapper>